
/* Homepage styling */

.homepagetext {
    font-family: 'Montserrat', sans-serif;
display: flex;
align-items: center;
justify-content: center;
color: #293462;
flex: 100%;
max-width: 100%;
padding: 0 15%;
text-align: center;


}

.homepage {
    display: flex;
    flex-wrap: wrap;
   
}

.aboutme h2 {
    font-size: 2rem;
}

#profilepic {
    display: inline-block;
width: 50%;
float: right;}


/* Component: Navbar Styling - removing hyperlink look, changing font colour/style to suit website theme, creating hover effect.*/
.topnav {

    float: right;
    padding-top: 3%;
    padding-bottom: 5%;;

}

.topnav a {
    text-decoration: none;
    color: #F24C4C;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 1rem;
    float: right;
    padding-top: 0;
}
.topnav a:hover {
    color: #EC9B3B;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    display: inline; 
}

h1 a {
    text-decoration: none;
    color: #F24C4C;
    
}
h1 a:visited {
    text-decoration: none;
    color: #F24C4C
}




    .aboutme h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: #F24C4C
    
    }


  /* Blog page styling - blog boxes contain one post each, an image, text, date and button */

  * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blogtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.blogtitle span {
    color: #EC9B3B;
    font-family: 'Montserrat', sans-serif;

}

.blogtitle h3 {
    font-size: 2.4rem;
    color: #F24C4C;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.blogcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blogbox {
    width: 350px;
    background-color:white;
    border: 1px solid #ececec;
    margin: 20px;
}

.blogimage {
    width: 100%;
    height: auto;
}

.blogimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blogtext {
    padding: 30px;
    display: flex;
    flex-direction: column;
   
}

.blogtext span {
    color:  #F24C4C;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.blogtext .blogtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #EC9B3B;
    align-items:flex-start;
    
}
.blogtext .blogtitle:hover {
    color:#F24C4C;
    transition: all ease 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.blogtext p {
    color: #9B9B9B;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}

.blogtext a {
    color:#0f0f0f;
    font-family: 'Montserrat', sans-serif;
}

.blogtext a:hover {
    color: #F24C4C;
    transition: all ease 0.3s;
}

/* About Me Page Styling */

.aboutmetext {

 padding: 0 2em 0 2em;
 line-height: 2em;
 font-family: 'Montserrat', sans-serif
 
}

.aboutmeheading {
    color: #293462;
    padding-left: 1.3em;
    font-family: 'Montserrat', sans-serif;
   
}

.About {
    padding-top: 1%;
    
  
}

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    .column {
        flex: 100%
        max-width: 100%;
        padding: 0 10px;
    }
    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
    .textbox {
        height: 200px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: #EC9B3B;
        text-align: end;
        padding-top: 2em;
        line-height: 1.2em;
        padding-right: 4px;
    }


    /* Contact Page Styling */
.icons {
    display: flex;
    align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.icons span {
    padding: 3%;
 padding-top: 2%;
  
}

.contactme {
    padding-top: 10;
    text-align: center;
   font-size: 1.5em;
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
   color: #293462;
  
}

.resumelink:hover {
    background-color:#F24C4C;;
}

.resumelink {
    text-decoration: none;
    color: black;
}
* {
    overflow: auto; 
    }

/* Blog Post styling */
 
.blogposttext{
    padding: 30px;;
}

  .blogpostbox {
    float: left;
    width: 100%;
    border: 1px solid #ececec;
    font-family: 'Montserrat', sans-serif;
    
  }
  

  .blogpostlist {
    float: right;
    width: 100%;
    padding-left: 20px;
  
  }
  
  .blogpostimage {
    width: 100%;
    height: 100%;
  }

  .blogpostimage img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

.blogpostbox span {
    color: #F24C4C;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.blogpostbox h3 {
    font-size: 1.3rem;
    color: #EC9B3B;
    align-items: flex-start;
    font-weight: 400rem;
   font-family: 'Montserrat', sans-serif;
}
.card p {
    color: #9B9B9B;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 200%;
    
}
.posts {
    text-align: center;
    text-transform: uppercase;
   line-height: 200%;
   font-family: 'Montserrat', sans-serif;
   font-size: smaller;
}
  

.posts h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

    /* Styling for laptop size screen */

    @media only screen and (min-width: 800px) {

        .homepagetext {
            flex: 50%;
            max-width: 50%;
            padding: 0 4px;
            font-size: 1.8em;
        }
        .homepagetext img {
            height: 80%;
            width: auto;
        }
    .topnav {
        padding-bottom: 20px;
    }
    .contactme h3 {
        padding-top: 10%;
      }
      .aboutmetext {
          padding-right: 0;
      }
      .textbox {
          padding-top: 6px;
      }

        .intro h2 {
            font-size: 3em;
            padding: 0;
            padding-left: 7%; 
        }
        .topnav {

            float: right;
            padding-top: 0%;
            padding-bottom: 2.5%;
        
        }
        
        .topnav a {
            text-decoration: none;
            color: #F24C4C;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 2px;
            padding: 1rem;
            padding-top: 0;
        }
        .column {
            flex: 50%;
            max-width: 50%;
          }

          
          .Aboutme {
              padding-top: 5%;
            
                
          }
          .textbox {
              font-size: 1.2rem;
            
          }
          .topnav {
              padding-top: 1%;
          }

         
          .About {
              padding-top: 0px;
          }

          #profilepic {
            display: block;
            width: 100%;
        }
        .homepage {
            display: flex;
            flex-wrap: wrap;}
         
    
        .homepagetext {
            flex: 50%;
            max-width: 50%;
            padding: 0 4px;}

            .blogpostbox {
                float: left;
                width: 75%;
                border: 1px solid #ececec;
                font-family: 'Montserrat', sans-serif;
                
              }
              
            
              .blogpostlist {
                float: right;
                width: 25%;
                padding-left: 20px;
              
              }
              .posts {
                text-align: center;
                text-transform: uppercase;
               line-height: 280%;
               font-family: 'Montserrat', sans-serif;
            }
        }
    